# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfstate.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS/Editor
.DS_Store
.idea/
*.swp
*.swo

__pycache__/
*.pyc


.env